<!-- index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Inventarios</title>
    <link rel="stylesheet" href="../estilos/estilos.css">


</head>
<body>
    <header>
        <h1>Sistema de Gestión de Inventarios</h1>
        <nav>
            <ul>
                <li><a href="consulta_inventario.html">Consultar Inventario</a></li>
                <li><a href="registro_producto.html">Registrar Producto</a></li>
                <li><a href="realizar_pedido.html">Realizar Pedido</a></li>
                <li><a href="recepcion_pedidos.html">Recepción de Pedidos</a></li>
                <li><a href="despacho_pedidos.html">Despacho de Pedidos</a></li>
                <li><a href="reportes.html">Reportes</a></li>
                <li><a href="login.html">Iniciar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Bienvenido al sistema de gestión de inventarios.</p>
    </main>
    <footer>
        <p>&copy; 2025 Sistema de Inventarios</p>
    </footer>
</body>
</html>